<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pinnacle Wealth Creation Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets\css\style.css">
</head>
<body>
    <header class="site-header">
        <div class="logo">
            <img src="assets/img/logo-icon.png" alt="Logo Icon">
            <img src="assets/img/logo-text.png" alt="Logo Text">
        </div>

        <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="associates.html">Associates</a></li>
                <li><a href="contact.html" class="btn-primary">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <script src="assets/js/include.js"></script>
</body>
</html>
